.dashboard-container {
  display: flex;
  height: 100vh;
}

.main-content {
  margin-left: 220px;
  padding: 30px;
  width: 100%;
  background-color: #f9f9fb;
}

.main-content h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #273469;
}
